.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

.svg-inline--fa {
    color: white;
}
.career-container {
    display: flex;
    flex-direction: column;
    align-items: center;  // Centers all content horizontally
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;  // Keeps everything aligned properly
  }
  
  .career-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    width: 100%;  // Ensures it's centered across the container
  }
  

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}